@import "@/styles/variable.scss";

.input {
  background-color: $secondaryColor;
  border: 0;
  font-size: $fontSizeBig;
  color: whitesmoke;
  outline: none;
  width: 100%;
  font-family: $fontBold;
}
