@import '@/styles/variable.scss';

.tabSelect {
    display: flex;
    color: whitesmoke;

    &__tab {
        padding: 1em;
        text-transform: capitalize;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $secondaryColor;

        &:hover {
            opacity: $hoverOpacity;
        }

        img {
            margin-right: 0.5em;
            height: 1em;
            width: 1em;
        }
    }

    &__selected_tab {
        background-color: $thirdColor;
    }
}