// tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #f5f5f5;
  --color-dark: #080a0d;

  --color-gray-200: #1a2431;

  --color-blue-500: #3b82f6;

  --color-red-500: #c9243a;

  --color-green-500: #07956b;

  --bezier-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --bezier-smooth: cubic-bezier(0.2, 0.8, 0.4, 1);
}

@layer base {
  @font-face {
    font-family: special;
    src: url('/fonts/Oswald-Bold.ttf');
  }

  @font-face {
    font-family: regular;
    src: url('/fonts/Louis George Cafe.ttf');
  }

  @font-face {
    font-family: boldy;
    src: url('/fonts/Louis George Cafe Bold.ttf');
  }

  div {
    @apply border-bcolor;
    @apply font-regular;
  }

  span,
  p {
    @apply text-sm;
    @apply font-regular;
  }

  h1 {
    @apply text-4xl;
    @apply font-special;
    text-transform: uppercase;
  }

  h2 {
    @apply text-2xl;
    @apply font-special;
    text-transform: uppercase;
  }

  h3 {
    @apply text-xl;
    @apply font-special;
    text-transform: uppercase;
  }

  h4 {
    @apply text-lg;
    @apply font-boldy;
  }

  h5 {
    @apply text-sm;
    @apply font-boldy;
  }

  button:focus,
  input:focus,
  textarea:focus {
    @apply outline-none;
  }

  * {
    @apply text-light;
  }
}

@layer utilities {
  .tooltip-target {
    @apply border-b border-dashed border-[#8C8D97];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 375px;
  min-height: 100vh;
  background-color: #050f19;
  font-family: 'Inter', sans-serif;
}

// Hide arrows on input number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html.theme-dark .group-MBOVGQRI {
  background-color: red !important;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// Override Notification library css
.rnc__notification-item--success {
  background-color: #197e67 !important;
  border-left: 8px solid #197e67 !important;
}

.rnc__notification-close-mark {
  background-color: transparent !important;
  border: 0 !important;
}

.rnc__notification-close-mark::after {
  font-size: 2em !important;
}

// Tooltips

.tippy-box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: black !important;
}

.tippy-arrow {
  color: black !important;
}

.tippy-content {
  padding: 0 !important;

  div:first {
    display: flex;
  }
}

input[type='radio'] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-gray-200);
  border-radius: 50%;
  transition: 0.3s var(--bezier-spring);
  box-shadow: 0 0 0 0px var(--color-dark) inset;
}

input[type='radio']:checked {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  box-shadow: 0 0 0 3px var(--color-dark) inset;
}

.fade-in {
  animation: fadeIn 0.3s var(--bezier-smooth);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Wallet connect customization

.walletconnect-modal__base {
  background-color: var(--color-gray-200) !important;
}

#walletconnect-wrapper {
  p {
    color: #d4d4d4;
  }

  .walletconnect-modal__mobile__toggle {
    a {
      color: black;
    }
  }

  .walletconnect-search__input {
    color: black;
  }
}

.walletconnect-qrcode__notification {
  background-color: var(--color-gray-200) !important;
  color: #d4d4d4 !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px 10px #fdfdff33 !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #16293d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #16293d; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #16293d; /* creates padding around scroll thumb */
}
