// Colors
$mainColor: #101124;
$secondaryColor: #232743;
$thirdColor: #2d3ed5;
$fourthColor: #16182e;

$green: #0ecc83;
$red: #fa3c58;

// Borders
$borderRadius: 0.4em;
$borderColor: hsla(0, 0%, 100%, 0.1607843137254902);

// Opacity
$hoverOpacity: 0.8;

// Sizes
$sizeBig: 1.5em;

// Fonts
$fontRegular: app-font;
$fontThin: app-font-thin;
$fontBold: app-font-bold;
