@import "@/styles/variable.scss";

.tradingInputs {
  position: relative;
  display: flex;
  flex-direction: column;

  &__switch {
    width: 100%;
    height: 1em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &_inner {
      background-color: $thirdColor;
      border-radius: 5em;
      padding: 0.5em;
      width: 2em;
      height: 2em;
      cursor: pointer;

      // width / 2
      left: calc(50% - 1em);
      top: calc(50% - 1em);

      img {
        width: 1em;
        height: 1em;
        transform: rotate(90deg);
      }

      &:hover {
        opacity: $hoverOpacity;
      }
    }
  }

  &__container {
    height: 8em;
    width: 22em;
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;

    &_labels {
      color: whitesmoke;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &_infos {
      display: flex;
      width: 100%;
      align-items: center;

      &_input {
        background-color: $secondaryColor;
        border: 0;
        font-size: $sizeBig;
        color: whitesmoke;
        outline: none;
        width: 100%;
        font-family: $fontBold;
      }

      &_select {
        font-size: $sizeBig;
      }

      &_max {
        background-color: $thirdColor;
        border-color: $thirdColor;
        margin-right: 0.5em;
        font-size: 0.8em;
        height: 3em;
      }
    }
  }

  &__leverage_slider_title {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
  }

  &__leverage_slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &_obj {
      width: calc(100% - 2em);
      margin: auto;
    }
  }

  &__infos {
    color: whitesmoke;
    padding: 1em;
    margin-top: 1em;

    &_row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.2em;
    }
  }
}
