@import "@/styles/variable.scss";

.trade {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $mainColor;
  padding: 1em;
  justify-content: center;

  &__tradingview {
    height: 40em;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: $mainColor;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 40em;
    max-width: 60em;
  }

  &__panel {
    height: 30em;
    width: 22em;
    background-color: $mainColor;

    &_trading_inputs {
      margin-top: 1em;
    }

    &_execute_btn {
      margin-top: 1em;
      background-color: $thirdColor;
      border-color: $thirdColor;
    }

    &_wallet_adapter {
      display: none;
    }

    &_infos {
      color: whitesmoke;
      padding: 1em;
      margin-top: 1em;

      &_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2em;
      }
    }

    &_extended_infos {
      color: whitesmoke;
      padding: 1em;
      margin-top: 1em;

      &_title {
        margin-top: 1em;
        margin-bottom: 0.5em;

        display: flex;
        align-items: center;
      }

      &_row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2em;
      }
    }
  }
}
