@import "@/styles/variable.scss";

.footer {
  width: 100%;
  height: 6em;
  background-color: $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $borderColor;

  &__image {
    opacity: $hoverOpacity;
  }
}
